//计算rem基准字体
$rem-base-font-size:100px;
//UI设计图的分辨率宽度
$UI-width:720px;
// 需要适配的屏幕宽度
$device-width:320px,375px,425px,768px;

// 根据不同设备的屏幕宽度，定义<html>的基准font-size
@mixin html-font-size {
    @each $current-width in $device-width {
        @media  only screen and (min-width:$current-width) {
            html {
                $x:$UI-width/$current-width; // // 计算出是几倍屏
            font-size: $rem-base-font-size/$x!important;
            }
            
        }
    }
}
@include html-font-size();
@function convertPxFormUI($px) {
    @return $px/$rem-base-font-size*1rem;
}
$main-color:#5fc0cd;
.classBB {
    border-bottom: 1px solid #e1e5e7;
}
html {
    font-size: 625%;
}
* {
    margin: 0;
    padding: 0;
}
